# this version is a test config file for Ponama 1
# all lengths are in mm
# format is <key_word> <value> # comment, with key_word starting at beginning of line

[general]
verbosity_level 1        #  0 = terse, 1 = normal, 2 = chatty/verbose

[geometry]
xtal_length 30.0         # z length
xtal_radius 35.0         # radius
top_bullet_radius    1.2   # bulletization radius at top of crystal
bottom_bullet_radius 1.2   # bulletization radius at bottom of BEGe crystal
pc_length    0.1         # point contact length
pc_radius    2.0         # point contact radius

taper_length  0         # size of 45-degree taper at bottom of ORTEC-type crystal
wrap_around_radius 11.1     # wrap-around radius for BEGes. Set to zero for ORTEC
ditch_depth   2          # depth of ditch next to wrap-around for BEGes. Set to zero for ORTEC
ditch_thickness    6.35     # width of ditch next to wrap-around for BEGes. Set to zero for ORTEC

[detector]
Li_thickness 0.872         # depth of full-charge-collection boundary for Li contact (not currently used)

# configuration for mjd_fieldgen (calculates electric fields & weighing potentials)
xtal_grid         0.1    # grid size in mm for field files (usually 0.5 or 0.1 mm)
impurity_z0       -0.6  # net impurity concentration at Z=0, in 1e10 e/cm3
impurity_gradient 0.06  # net impurity gradient, in 1e10 e/cm4
xtal_HV           3500.0   # detector bias for fieldgen, in Volts
# options for mjd_fieldgen:
max_iterations    30000  # maximum number of iterations to use in mjd_fieldgen
write_field       1      # 0/1: do_not/do write the standard field output file
write_WP          1      # 0/1: do_not/do calculate the weighting potential and write it to the file

# file names
drift_name ../drift_vel_tcorr.tab    # drift velocity lookup table
field_name    ../fields/bege_ev.field    # potential/efield file name; no included spaces allowed
wp_name    ../fields/bege_wpot.field     # weighting potential file name; no included spaces allowed

# configuration for signal calculation
xtal_temp         90     # crystal temperature in Kelvin

[siggen]
time_steps_calc               8000
step_time_calc                1.0
step_time_out                 1.0
preamp_tau        0     # integration time constant for preamplifier, in ns
time_steps_calc   8000   # number of time steps used in calculations
step_time_calc    1    # length of time step used for calculation, in ns
step_time_out     1.0   # length of time step for output signal, in ns
#    nonzero values in the next few lines significantly slows down the code
charge_cloud_size 0      # initial FWHM of charge cloud, in mm
use_diffusion     0      # set to 0/1 for ignore/add diffusion as the charges drift
