
# Config file for B00000D
# all lengths are in mm
# format is <key_word> <value> # comment, with key_word starting at beginning of line

# general
verbosity_level 2        #  0 = terse, 1 = normal, 2 = chatty/verbose

# detector geometry
xtal_length       32.28 	# z length
xtal_radius 		38.2  	# radius
top_bullet_radius    	0.0   	# bulletization radius at top of crystal
bottom_bullet_radius 	0.0   	# bulletization radius at bottom of crystal
pc_length          	0  	# point contact length
pc_radius          	7.5  	# point contact radius
bulletize_PC         	0     	# point contact hemispherical rather than cylindrical
taper_length       	0   	# size of 45-degree taper at bottom
wrap_around_radius 	10.5  	# wrap-around radius
ditch_depth        	2.0     	# depth of ditch next to wrap-around
ditch_thickness    	3.0     	# width of ditch next to wrap-around
hole_length       	0 	# borehole depth
hole_radius       	0 	# borehole radius
outer_taper_length 	0.0 	# top taper length
outer_taper_width 	0.0 	# top taper width
inner_taper_length 	0 	# borehole taper length
inner_taper_width 	0 	# borehole taper width
taper_angle       	0 	# taper angle in degrees
Li_thickness       	1.0   	# depth of full-charge-collection boundary for Li contact

# configuration for mjd_fieldgen (calculates electric fields & weighing potentials)
xtal_grid        	0.02  	# grid size in mm for field files
impurity_z0      	-1.95    # net impurity concentration at Z=0, in 1e10 e/cm3
impurity_gradient 	0.2014 	# net impurity gradient, in 1e10 e/cm4
impurity_surface  	0	# surface impurity of passivation layer, in 1e10 e/cm2
xtal_HV           	3000.0    # detector bias for fieldgen, in Volts

# options for mjd_fieldgen:
max_iterations    	50000   # maximum number of iterations to use in mjd_fieldgen
write_field       	1       # 0/1: do_not/do write the standard field output file
write_WP          	0      # 0/1: do_not/do calculate the weighting potential and write it to the file

# file names
detector_name B00000D # name of the detector
drift_name /nas/longleaf/home/kbhimani/EH-Drift/drift_vel_tcorr.tab  # drift velocity lookup table
field_name /work/users/k/b/kbhimani/EH-Drift_data/fields/ev_p1_sm1.dat # potential/efield file name; no included spaces allowed
wp_name    /work/users/k/b/kbhimani/EH-Drift_data/wp     # directory to save the weighting potential to
home_dir   /nas/longleaf/home/kbhimani/EH-Drift # directory to save the signal
scratch_dir  /work/users/k/b/kbhimani/EH-Drift_data # directory to save the density snapshots

# configuration for signal calculation 
xtal_temp         90     # crystal temperature in Kelvin
preamp_tau        0     # integration time constant for preamplifier, in ns
time_steps_calc   20000   # number of time steps used in calculations
step_time_calc    0.2    # length of time step used for calculation, in ns
step_time_out     16.0   # length of time step for output signal, in ns
surface_drift_vel_factor 0.001  # surface drift is 100 times slower than bulk
energy 5000.00 # Interaction energy in KeV
passivated_thickness 0.0020 # thickness of passivation in mm, default is 2 micron, values must be smaller than grid
    