# UNC_scanner configuration file for fieldgen/siggen, by David Radford

# all lengths are in mm
# format is <key_word> <value> # comment, with key_word starting at beginning of line

# general
verbosity_level      0   #  0 = terse, 1 = normal, 2 = chatty/verbose

# detector geometry
xtal_length          80.4   # z length
xtal_radius          38.95   # radius
top_bullet_radius    2   # bulletization radius at top of crystal
bottom_bullet_radius 0   # bulletization radius at bottom of BEGe crystal
pc_length            0   # point contact length
pc_radius            10   # point contact radius
bulletize_PC         1   # point contact hemispherical rather than cylindrical
wrap_around_radius   22.0   # wrap-around radius. Set to zero for ORTEC
ditch_depth          2.0   # depth of ditch next to wrap-around
ditch_thickness      3.0   # width of ditch next to wrap-around
hole_length          54.8   # length of hole, for inverted-coax style
hole_radius          5.0   # radius of hole, for inverted-coax style
hole_bullet_radius   0   # bulletization radius at bottom of hole
outer_taper_length   0   # z-length of outside taper for inverted-coax style
inner_taper_length   0   # z-length of inside (hole) taper for inverted-coax style
taper_angle          0   # taper angle in degrees, for inner or outer taper
Li_thickness         1.0  # depth of full-charge-collection boundary for Li contact
bottom_taper_length  0   # size of 45-degree taper at bottom of crystal (e.g. ORTEC PPC detectors)

# other options:
# impurity_quadratic 0.05  # quadratic term for impurity profile; value is at z=length/2 in 1e10 e/cm3, zero at z=0 and z=length
# configuration for mjd_fieldgen (calculates electric fields & weighing potentials)
xtal_grid         0.02    # grid size in mm for field files (usually 0.5 or 0.1 mm)
impurity_z0       -1.0   # net impurity concentration at z=0, in 1e10 e/cm3
impurity_gradient 0.0672   # net impurity gradient, in 1e10 e/cm4
impurity_surface  	0	# surface impurity of passivation layer, in 1e10 e/cm2
xtal_HV           3500   # detector bias for fieldgen, in Volts

# options for mjd_fieldgen:
max_iterations    50000   # maximum number of iterations to use in mjd_fieldgen
write_field       1      # 0/1: do_not/do write the standard field output file
write_WP          0      # 0/1: do_not/do calculate the weighting potential and write it to the file

# file names
detector_name UNC_scanner # name of the detector
drift_name /nas/longleaf/home/kbhimani/siggen_ccd/drift_vel_tcorr.tab  # drift velocity lookup table
field_name /work/users/k/b/kbhimani/siggen_ccd_data/fields/ev_p1_sm1.dat # potential/efield file name; no included spaces allowed
wp_name    /work/users/k/b/kbhimani/siggen_ccd_data/wp     # directory to save the weighting potential to
home_dir   /nas/longleaf/home/kbhimani/siggen_ccd # directory to save the signal
scratch_dir  /work/users/k/b/kbhimani/siggen_ccd_data # directory to save the density snapshots

# configuration for signal calculation 
xtal_temp         103     # crystal temperature in Kelvin
preamp_tau        0     # integration time constant for preamplifier, in ns
time_steps_calc   20000   # max. number of time steps used in calculations
step_time_calc    0.2    # length of time step used for calculation, in ns
step_time_out     10.0   # length of time step for output signal, in ns
#    nonzero values in the next few lines significantly slow down the siggen code
charge_cloud_size 0      # initial FWHM of charge cloud, in mm
use_diffusion     0      # set to 0/1 for ignore/add diffusion as the charges drift
surface_drift_vel_factor 0.001  # surface drift is 1000 times slower than bulk